<h1>Student</h1>
 
<div class="student">
  <h3>Name: <%= @student.name %></h3><br>
  <h4>Height: <%= @student.grade %></h4>
</div><br>
 
<h1>Classes</h1>
<% @courses.each do |course| %>
  <div class="class">
    <p>Name: <%= course.name %></p><br>
    <p>Type: <%= course.topic %></p><br>
  </div><br>
<% end %>