<% if logged_in? && current_user.username == "admin" %>

<h4><a href="/students/destroy">Delete Students</a></h4>

<h4><a href="/students/new">Add New Student</a></h4>

<h4><a href="/songs/destroy">Delete Songs</a></h4>

<h4><a href="/songs/new">Add New Song</a></h4>
<% end %>