<p>Show individual student's songs, tracks, lesson plans, lesson recordings, lesson assignments, lesson submissions, performances, profiles, interests, connections.</p>
<p>Show library of content.</p>
<p>Show reference links.</p>
<p>Associate content to students.</p>
<p></p>